.logo a {
  display: block;
  background-image: url('/assets/images/logo-ANSWER.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	height: 40px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}
