.menu {
  &-link {
    color: $body-color;
    border-left: 4px solid transparent;
    padding: 4px 28px;
    transition: background-color .15s ease;
    &:not(.active):hover {
      background-color: $gray-500;
    }
    &.active,
    &:active {
      color: $primary;
      border-left: 4px solid $primary;
    }
  }
}
