<tr>
  <td>#<%=id%></td>
  <td><%=name%></td>
  <td><%=email%></td>
  <td><%=verified%></td>
  <td>
    <div class="d-flex">
      <a href="#" class="text-black-hover-primary me-4"><span class="d-block material-icons">visibility</span></a>
      <a href="#" class="text-black-hover-primary"><span class="d-block material-icons">edit</span></a>
    </div>
  </td>
</tr>
